@import "@angular/material/prebuilt-themes/indigo-pink.css";

.tile-image {
  width: 100%;
  height: 100%;
}

$breakpoint-tablet: 600px;
@media (min-width: $breakpoint-tablet) {
}

$breakpoint-desktop: 1000px;
@media (min-width: $breakpoint-desktop) {
}
